doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    block content
  footer
    script(type='text/javascript', src='./javascripts/functions.js')
