// titre - sous-titre / auteur
span
  b
   = notice.titre
   if notice.tit2 || notice.tit3 || notice.tit4
     = " - "
   if notice.tit2
     = notice.tit2
   if notice.tit3
     = notice.tit3
   if notice.tit4
     = notice.tit4     
  = ' / ' + notice.auteur
br
// ville : editeur, date . - pages
span
  if notice.ed_ville
    = notice.ed_ville
  if notice.editeur
    = ' : ' + notice.editeur
  if notice.ed_ville || notice.editeur
    | , 
  if notice.date
    = notice.date
  if notice.date && notice.nb_pages
    | . - 
  if notice.nb_pages
    = notice.nb_pages
br
// (collection)
if notice.collection
  span= '(' + notice.collection + ')'
  br
// isbn
if notice.isbn  
  span= 'ISBN ' + notice.isbn
else
  | Sans ISBN
br
// lien
if notice.lien
  span= notice.lien
  br
// résumé
if notice.resume
  span= 'Résumé : ' + notice.resume