// titre; sous-titre / auteur
span
  b
   = notice.titre
   if notice.tit2 || notice.tit3 || notice.tit4
     = " - "  
   if notice.tit2
     = notice.tit2
   if notice.tit3
     = notice.tit3
   if notice.tit4
     = notice.tit4 
  if notice.auteur   
    = ' / ' + notice.auteur
br
// in titreperio bulletin_numero mention_date. - pages
span
  | in 
  b= notice.titreperio + ' ' + notice.bulletin_numero + ' (' + notice.mention_date + ')'
  | .
  if notice.nb_pages
    = ' - ' + notice.nb_pages
br
// lien
if notice.lien
  span= notice.lien
  br
// résumé
if notice.resume
  span= 'Résumé : ' + notice.resume