extends ./layout

block content
  h1= title

  pre
    // notice.niveau_hierar === '0' => ouvrage sinon périodique
    each notice in notices
      p
        if notice.niveau_hierar === '0'
          include ouvrage.pug
        else
          include periodique.pug
      div.
        &nbsp;
       
